<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <title>Start A Smart Contract</title>
</head>
<body>
    {% load mathfilters %}
    {% include 'navbar.html' with ada=lovelace|div:1000000 addr=address %}
    <p class="my-2 text-center">Smart contracts have the form pubKeyHash_lovelace</p>
    {% for contract in tsContracts %}
        <div class="container-fluid border my-2 text-center">
            <p class="mt-2">Token Sale: {{ contract }}</p>
            <form action='/start_contract' class="" method="POST">
                {% csrf_token %}
                <input class="form-control" type="hidden" placeholder="contract"    name="contract"      value='{{ contract }}'>
                <input class="form-control" type="hidden" placeholder="policy id"   name="policyID"      value='{{ policy_id }}'>
                <input class="form-control" type="hidden" placeholder="token name"  name="tokenName"     value='{{ token_name }}'>
                <input class="form-control" type="hidden" placeholder="artist addr" name="artistAddress" value='{{ artist_addr }}'>
                <input class="form-control" type="hidden" placeholder="token sale"  name="tokenSale"     value='True'>
                <input class="form-control" type="hidden" placeholder="royalty sale" name="royaltySale"  value=''>
                <button class="btn btn-outline-dark mb-2" type="submit">Use This Token Sale Contract</button>
            </form>
        </div>
        {% endfor %}
        {% for contract in rsContracts %}
        <div class="container-fluid my-2 text-center">
            <p class="mt-2">Royalty Sale: {{ contract }}</p>
            <form action='/start_contract' class="" method="POST">
                {% csrf_token %}
                <input class="form-control" type="hidden" placeholder="contract"    name="contract"      value='{{ contract }}'>
                <input class="form-control" type="hidden" placeholder="policy id"   name="policyID"      value='{{ policy_id }}'>
                <input class="form-control" type="hidden" placeholder="token name"  name="tokenName"     value='{{ token_name }}'>
                <input class="form-control" type="hidden" placeholder="artist addr" name="artistAddress" value='{{ artist_addr }}'>
                <input class="form-control" type="hidden" placeholder="token sale"  name="tokenSale"     value=''>
                <input class="form-control" type="hidden" placeholder="royalty sale" name="royaltySale"  value='True'>
                <button class="btn btn-outline-dark mb-2" type="submit">Use This Royalty Sale Contract</button>
            </form>
        </div>
    {% endfor %}
</body>
</html>