<div class="card m-1" style="width: 18rem; border:1px solid #3d3d4d;">
    {% if buying %}
        <button type='button' data-bs-toggle="modal" data-bs-target="#buyTokenModal{{forloop.parentloop.counter}}_{{forloop.counter}}">
            <img src="{{ image }}" class="card-img-top" alt="ipfs not loading image" style="max-height:400px;max-width:400px;">
        </button>
    {% endif %}
    {% if selling %}
        <button type='button' class='btn' data-bs-toggle="modal" data-bs-target="#sellTokenModal{{forloop.parentloop.counter}}_{{forloop.counter}}">
            <img src="{{ image }}" class="card-img-top" alt="ipfs not loading image" style="max-height:400px;max-width:400px;">
        </button>
    {% endif %}
    <div class="card-body text-center">
        <h5 class="card-title">{{ tkn }}</h5>
        <p class="card-text">{{ pid }}</p>
        {% if scriptAddress %}
            <small class="card-text">Script Address:</small>
            <p class="card-text">{{ scriptAddress }}</p>
        {% endif %}
        {% if sellerAddress %}
            <small class="card-text">Seller Address:</small>
            <small class="card-text">{{ sellerAddress }}</small>
        {% endif %}
        {% if sellerHash %}
            <small class="card-text">Seller Hash:</small>
            <small class="card-text">{{ sellerHash }}</small>
        {% endif %}
        {% if artistAddress %}
            <small class="card-text">Artist Address:</small>
            <small class="card-text">{{ artistAddress }}</small>
        {% endif %}
        {% if price %}
            <br>
            <small class="card-text">Price:</small>
            <p class="card-text">{{ price }} ADA</p>
        {% endif %}
        {% if amount %}
            <small class="card-text">Quantity:</small>
            <p class="card-text">{{ amount }} {{ tkn }}</p>
        {% endif %}
        {% if buying %}
            <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#buyTokenModal{{forloop.parentloop.counter}}_{{forloop.counter}}">
                Buy
            </button>
            <!-- Modal -->
            <div class="modal fade" id="buyTokenModal{{forloop.parentloop.counter}}_{{forloop.counter}}" tabindex="-1" aria-labelledby="buyTokenModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header mx-auto">
                            <h5 class="modal-title" id="buyTokenModalLabel">Are you sure you want to buy this token?</h5>
                        </div>
                        <div class="modal-body">
                            <img src="{{ image }}" class="" alt="ipfs not loading image" style="max-height:400px;max-width:400px;">
                            <p class="my-2">{{ pid }}.{{ tkn }}</p>
                            <form action='/buy' class="" method="POST">
                                {% csrf_token %}
                                <input class="form-control" type="hidden" placeholder="Search For A Token Name or policy ID" name="scriptAddress" value='{{ scriptAddress }}'>
                                <input class="form-control" type="hidden" placeholder="Search For A Token Name or policy ID" name="sellerAddress" value='{{ sellerAddress }}'>
                                <input class="form-control" type="hidden" placeholder="Search For A Token Name or policy ID" name="sellerHash"    value='{{ sellerHash }}'>
                                <input class="form-control" type="hidden" placeholder="Search For A Token Name or policy ID" name="artistAddress" value='{{ artistAddress }}'>
                                <input class="form-control" type="hidden" placeholder="Search For A Token Name or policy ID" name="price"         value='{{ price }}'>
                                <input class="form-control" type="hidden" placeholder="Search For A Token Name or policy ID" name="policyID"      value='{{ pid }}'>
                                <input class="form-control" type="hidden" placeholder="Search For A Token Name or policy ID" name="tokenName"     value='{{ tkn }}'>
                                <button class="btn btn-outline-success my-2" type="submit">Confirm Buy</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if selling %}
            <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#sellTokenModal{{forloop.parentloop.counter}}_{{forloop.counter}}">
                Sell
            </button>
            <!-- Modal -->
            <div class="modal fade" id="sellTokenModal{{forloop.parentloop.counter}}_{{forloop.counter}}" tabindex="-1" aria-labelledby="sellTokenModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header mx-auto">
                            <h5 class="modal-title" id="sellTokenModalLabel">Are you sure you want to sell this token?</h5>
                        </div>
                        <div class="modal-body">
                            <img src="{{ image }}" class="" alt="ipfs not loading image" style="max-height:400px;max-width:400px;">
                            <p class="my-2">{{ pid }}.{{ tkn }}</p>
                            <form action='/sell' class="" method="POST">
                                {% csrf_token %}
                                <input class="form-control" type="hidden" placeholder="Search For A Token Name or policy ID" name="policyID"  value='{{ pid }}'>
                                <input class="form-control" type="hidden" placeholder="Search For A Token Name or policy ID" name="tokenName" value='{{ tkn }}'>
                                <button class="btn btn-outline-success" type="submit">Confirm Sell</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
  </div>
  
