<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>Marketplace Wallet</title>
</head>
<body>
    {% load mathfilters %}
    {% include 'navbar.html' with ada=lovelace|div:1000000 addr=address collat_check=collat %}
    <div class="mb-2 mt-2">
        <div class="d-flex mx-2">
            <a class="btn btn-outline-primary me-5 mx-auto" href="split">Create Collateral</a>
            <form action='/wallet' class="d-flex mx-auto w-75">
                <input class="form-control me-2" type="search" placeholder="Search For A Token or Policy" aria-label="Search" name="search" value=''>
                <button class="btn btn-outline-primary" type="submit">Search</button>
            </form>
        </div>
    </div>
    <div class="row">
        {% for key, values in tokens.items %}
            {% for token, attr in values.items %}
                <div class="col">
                    {% include 'token.html' with pid=key tkn=token image=attr.image selling='true'%}
                </div>
            {% endfor %}    
        {% endfor %}
    </div>
</body>
</html>